body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: lightgray;
    color: black;
    max-width: 1200px;
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    padding: 15px 10px;
    background: white;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 23px;
}

main {
    flex: 1;
    padding: 20px;
}


footer{
    padding: 5px;
    background: white;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}




.about-container{
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.about-container h1{
    font-size: 20px;
    margin: 0;
}