---
layout: index
---



<main>
    <div class="about-container">
        <h1>Hi, I'm Louis Porter 👋🏻</h1>
        <p>I am a data analyst based in London, UK.</p>
        <p>This website is a landing page for all of my work that I would like to share publicly.</p>
        <button id="cv-btn">Download CV</button>           
    </div>
    <div class="contact-container">
        <h1>Contact 📞</h1>
        <a href="https://www.linkedin.com/in/louis-porter-0b9154186/" id="contact-button">
            <img src="../images/linkedin.jpeg" alt="LinkedIn" width="20" height="20"> LinkedIn
        </a>
        <a href="https://github.com/louis-porter" id="contact-button">
            <img src="../images/github.png" alt="GitHub" width="20" height="20"> GitHub
        </a>
        <a href="mailto:louis.porter12@hotmail.co.uk" id="contact-button">
            <img src="../images/email.png" alt="Email" width="20" height="20"> Email
        </a>
    </div>
    <div class="gallery">
        <h1 class="gallery-title">Projects 🚧</h1>
        <div class="gallery-grid">
            {% for post in site.posts %}
            <div class="tile">
                <a href="{{ post.url }}">
                    <img src="{{ post.image }}" alt="{{ post.title }}">
                    <div class="text-container">
                        <div class="post-title">{{ post.title }}</div>
                        <div class="post-desc">{{ post.desc }}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>