<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/index.css">
    <title>Louis Porter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="nav-bar">
                <a href="louis-porter.github.io">louis-porter.github.io</a>
            </div>
        </nav>
        
        <main>
                <div class="about-container">
                    <h1>Hi, I'm Louis Porter 👋🏻</h1>
                    <p>I am a data analyst based in London, UK.</p>
                    <p>This website is a landing page for all of my work that I would like to share publicly.</p>
                    <button id="cv-btn">Download CV</button>           
                </div>
                <div class="contact-container">
                    <h1>Contact</h1>
                    <a href="https://www.linkedin.com/in/louis-porter-0b9154186/" id="contact-button">
                        <img src="../images/linkedin.jpeg" alt="LinkedIn" width="25" height="25"> LinkedIn
                    </a>
                    <a href="https://github.com/louis-porter" id="contact-button">
                        <img src="../images/github.png" alt="GitHub" width="25" height="25"> GitHub
                    </a>
                    <a href="mailto:louis.porter12@hotmail.co.uk" id="contact-button">
                        <img src="../images/email.png" alt="Email" width="25" height="25"> Email
                    </a>
                </div>
                <div class="gallery">
                    {% for post in site.posts %}
                    <div class="tile">
                      <img src="{{ post.image }}" alt="{{ post.title }}">
                      <div class="overlay">
                        <div class="text">{{ post.title }}</div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
        </main>
        
        <footer>
            <p>&copy; 2024 Louis Porter. All rights reserved.</p>
        </footer>
        <script src="/index.js"></script>

    </div>
</body>
</html>
